# DO NOT ADD SECRETS TO THIS FILE. This is a good place for defaults.
# If you want to add secrets use `.env.development.local` instead.

# Make sure all of this env data is also stored at `src/config/env/{client, server}`
# choose the respective env variables for client or server.
# Always use env variables from `config/env`, don't use directly from here! :)

NEXT_PUBLIC_LIVEBLOCKS_PUB_KEY="pk_dev_n0AKrEvDcko15cvFMQMbFTFml2lg93I9vqgVEsWVc1f4rAm-rV-q70hdKVXRViIO"
